.page {
    margin: 0 auto;
    background-color: $blue;
    font-family: "SourceSansPro";
    font-weight: 400;
    color: $yellow;
    min-width: 320px;
    max-width: 1440px;
    overflow-x: hidden;
}