.header {
    width: 100%;
    min-height: 70px;
    margin: 0;
    box-sizing: border-box;
    border-bottom: $border;
    padding-top: 16px;
}

@media screen and (max-width: $mobile) {
    .header {
        padding-top: 25px;
    }
}

@media screen and (min-width: 1441px) {
    .header {
        position: relative;
    }
}