.lead-content__button {
    @include font($font, 15px, 60px, 400);
    display: block;
    margin: 60px auto 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    width: 360px;
    height: 64px;
    background: transparent;
    color: $yellow;
    border: $border;
    transition: all .1s linear;
}
.lead-content__button:hover {
    background-color: $yellow;
    color: $blue;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: $mobile) {
    .lead-content__button {
        margin: 0 auto;
        width: 280px;
        height: 64px;
    }
}