.gallery__button-back {
    margin-right: 30px;
    background: transparent;
    background-image: url('../images/arrow-left.svg');
    background-size: contain;
    width: 42px;
    height: 34px;
    border: none;
    transition: all .1s linear;
}

.gallery__button-back:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: $mobile) {
    .gallery__button-back {
        width: 24px;
        height: 20px;
        margin-right: 16px;
    }
}