.input {
    background-color: transparent;
    border: none;
    color: $yellow;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 18px;
    letter-spacing: 1px;
    font-family: inherit;
    padding: 7px 11px;
}

.input:hover {
    cursor: pointer;
}

.input::placeholder {
    color: $yellow;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 18px;
    letter-spacing: 1px;
    font-family: inherit;
}

.input:focus {
    outline: none;
}

.input:focus::placeholder {
    color: transparent;
}