.header__button {
    position: absolute;
    display: none;
    background-size:cover;
}

.header__button:hover {
    cursor: pointer;
}

@media screen and (max-width: $tablet) {
    .header__button {
        display: inline;
    }
}