.gallery-image {
    grid-area: gallery-image;
    border-right: $border;
    padding-bottom: 50px;
}

@media screen and (max-width: $tablet) {
    .gallery-image {
        border: none;
    }
}

@media screen and (max-width: $mobile) {
    .gallery-image {
        height: 100%;
        padding-bottom: 0;
    }
}