.description-content__text {
    @include font($font, 30px, 42px, 300);
    margin: 0;
    max-width: 560px;
}

@media screen and (max-width: $tablet) {
    .description-content__text {
        display: block;
        max-width: 668px;
    }
}

@media screen and (max-width: $mobile) {
    .description-content__text {
        font-size: 16px;
        line-height: 27px;
    }   
}