.description__list {
    @include font($font, 22px, 32px, 300);
    margin-top: 50px;
    //font-size: 22px;
    //line-height: 32px;
    //font-family: $font;
    //font-weight: 300;
    list-style-type: none;
    padding: 0;
}

@media screen and (max-width: $mobile) {
    .description__list {
        margin-top: 40px;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 20px;
    }
}