.gallery-image__picture {
    max-width: 100%;
    display: block;
}

@media screen and (max-width: $tablet) {
    .gallery-image__picture {
        margin: 0 auto;
        width: 700px;
        height: 510px;
    }
}

@media screen and (max-width: $mobile) {
    .gallery-image__picture {
        margin: 0 auto 30px;
        width: 280px;
        height: 204px;
    }
}